@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

header {
    height: 1161px;
    background: url('../img/designer_1.png') no-repeat;
    background-position: right bottom 50px;
    /* background-attachment: fixed; */
}

nav {
    /* border: 1px solid red; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 270px;
    display: flex;
    list-style: none;
    /* border: 1px solid red; */
}
nav ul li {
    margin-right: 60px;
}
nav ul li:last-child {
    margin-right: 0px;
}
nav ul li a {
    text-decoration: none;
}

.logo {
    text-align: center;
    /* border: 1px solid red; */
}
.logo h1 {
    color: #37447E;
    font-size: 26px;
}

.nav-btn {
    text-align: center;
    /* border: 1px solid red; */
    width: 160px;
    background: #111B47;
    height: 26px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.header-info {
    margin-top: 250px;
    /* border: 1px solid red; */
    width: 540px;
}
.header-title h1 {
    font-size: 50px;
}
.header-content p {
    margin-top: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #6F7CB2;
}
.header-btn {
    display: flex;
    margin-top: 65px;
}
.header-btn a {
    display: inline-block;
}
.purchase {
    background: #111B47;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: 2px;
    margin-right: 30px;
}
.learnmore {
    color: #111B47;
    background: #fff;
    padding: .5rem 1.5rem;
    text-decoration: none;
    border: 2px solid #111B47;
    border-radius: 2px;
}

.powerful {
    /* border: 1px solid red; */
    border-bottom-left-radius: 100% 100px;
    border-bottom-right-radius: 100% 100px;
    z-index: 99;
    position: relative;
    background: #fff;
}
.powerful-con {
    display: flex;
    justify-content: space-between;
}
.powerful-info {
    margin-top: 160px;
    width: 540px;
}
.pw-title h2 {
    font-size: 36px;
    margin-bottom: 1rem;
}
.pw-p p {
    font-size: 16px;
    color: #6F7CB2;
    line-height: 26px;
}

.pw-box {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.pw-items {
    width: 255px;
}
.pw-items h3 {
    font-size: 16px;
    margin: .5rem 0;
}
.pw-items p {
    font-size: 12px;
    line-height: 18px;
}

.powerful-img {
    width: 540px;
}
.powerful-img img {
    width: 100%;
    margin-top: 110px;
}

.powerful-sec-con {
    display: flex;
    justify-content: space-between;
    height: 570px;
    align-items: center;
}
.pw-left {
    width: 540px;
}
.pw-left img {
    width: 100%;
}
.pw-right {
    width: 445px;
}
.pw-right h3 {
    font-size: 36px;
    margin-bottom: 1rem;
}
.pw-right p {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}

.price {
    background: #E7ECFF;
    margin-top: -4rem;
    padding: 10rem 0;
    height: 800px;
    display: flex;
    align-items: center;
}
.price-info {
    width: 600px;
    text-align: center;
}
.price-info h2 {
    font-size: 36px;
    margin-bottom: 1rem;
    color: #091133;
}
.price-info p {
    color: #6F7CB2;
    line-height: 26px;
}

.fourty {
    margin: 3rem 0;
    /* border: 1px solid red; */
    text-align: center;
}
.fourty .number {
    display: block;
    font-weight: bold;
    font-size: 50px;
    color: #222F65;
}
.fourty .text {
    color: #37447E;
}

.price-btm {
    text-align: center;
}
.price-btm .price-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #111B47;
    padding: .5rem 3rem;
    border-radius: 2px;
    margin-top: .5rem;
}

footer {
    background: #d6dfff;
    height: 220px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    height: 140px;
    border-bottom: 1px solid #CDD1D4;
    align-items: center;
}
.footer-top .buynow {
    text-align: center;
    width: 160px;
    background: #111B47;
    height: 26px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.footer-bottom {
    display: flex;
    height: 70px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.btm-menu, .social {
    display: flex;
    list-style-type: none;
    /* border: 1px solid red; */
}
.btm-menu li {
    margin-right: 60px;
}
.social li {
    margin-left: 35px;
}
.btm-menu li a, .social li a {
    text-decoration: none;
    color: #6F7CB2;
}

@media screen and (max-width: 320px) {

}